{% extends 'base.html' %}
{% load markdownify %}
{% block pagination %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock pagination %}

{% block content %}
<div>
  <a href="{% url 'meal_edit' meal.id %}"><button>Edit</button></a>
  <a href="{% url 'meal_delete' meal.id %}"><button>Delete</button></a>
</div>
<main>
  <h1>Recipes for {{ meal.date }}</h1>
  {% for recipe in meal.recipes.all %}
  <p>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name}}</a>
  </p>
  {% endfor %}
</main>
{% endblock content %}
