{% extends 'base.html' %}

{% block pagination %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>

    </div>
{% endblock pagination %}

{% block content %} 
 <form method="post">
   <a href="{% url 'meal_new' %}">Create</a>
 </form>
  <main class="recipe-grid">
    {% for meal in meal_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_detail' meal.pk %}">{{ meal.name }}</a>
        </h2>
        {% for recipe in meal.recipes.all %}
        <p>
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name}}</a>
        </p>
        {% endfor %}
      </div>
      {% empty %}
      <div>
        <h1>No meal plans, yet</h1>
        <p>
          Would you like to create one?
        </p>
        <p>
          <a href="{% url 'meal_new' %}">Create meal plan</a>
        </p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}