{% extends 'base.html' %}

{% block content %}
  <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <a href="{% url 'meals_list' %}"><button class="button">Create</a>
      </div>
    </form>
  </main>
{% endblock %}
